<div class="bg-secondary rounded-3xl p-4 mb-4 flex">
    <div class="m-5 w-56 h-56">
        <img src="/image-stub.jpg" fill>
    </div>
    <div class="relative m-2">
        <span class="text-3xl">
            {{vehicle.carModel?.manufacturer?.name || 'No name'}} {{vehicle.carModel?.name || 'No Model'}}
        </span>
        <br/>
        <ul class="ml-2">
            <li>
                Avaliable: {{vehicle.isRented}}
            </li>
            <li>
                Trip: {{vehicle.odo}}
            </li>
            <li>
                State: {{vehicle.vehicleState}}
            </li>
            <li>
                Type: {{vehicle.vehicleType}}
            </li>
            <li>
                Fuel: {{vehicle.fuelType}}
            </li>
        </ul>
        <div>

        </div>


        <span class=" absolute right-0 bottom-0">{{vehicle.rentCost}} USD/day</span>
    </div>
</div>