<div class="bg-secondary p-4 rounded-3xl overflow-y-auto h-fit max-h-[50vh]">
  <div>
    <form>
      <mat-form-field>
        <mat-label>Manufacturer</mat-label>
        <input
          type="text"
          aria-label="Manufacturer"
          matInput
          [matAutocomplete]="manufacturerAuto"
        />
        <mat-autocomplete #manufacturerAuto="matAutocomplete">
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Model</mat-label>
        <input
          type="text"
          aria-label="Model"
          matInput
          [matAutocomplete]="modelAuto"
        />
        <mat-autocomplete #modelAuto="matAutocomplete"></mat-autocomplete>
      </mat-form-field>
    </form>
    <span>Fuel</span>
    <br />
    <span>State</span>
  </div>
</div>
<button
  type="button"
  matRipple
  class="rounded-3xl w-full bg-secondary text-xl mt-3 text-center p-3"
>
  Clear Filters
</button>
