<div class="relative p-6 bg-primary rounded-3xl gap-6 h-[75vh] flex">
  <div class="relative h-full w-[65%]">
    <div class="h-full overflow-y-auto scroll">
      @for (vehicle of vehicles; track vehicle) {
        <app-car-box [vehicle]="vehicle"></app-car-box>
      }
    </div>
    <div class="absolute bottom-0 w-full">
      <mat-paginator #paginator
        (page)="handlePageEvent($event)"
        [length]="100"
        showFirstLastButtons="true"
        [pageSizeOptions]="pageSizeOptions"
        [pageSize]="currentPageSize"
        aria-label="Select page"
        [pageIndex]="pageIndex"
      >
      </mat-paginator>
    </div>
  </div>
  <div class="right-0 w-[30%] rounded-3xl flex flex-col gap-4">
    <app-sort-field (sortMethodChanged)="sortVehicles($event)" (ascendingDescending)="reverse()"></app-sort-field>
    <app-filter-list></app-filter-list>
  </div>
</div>
