<div class="relative p-6 bg-primary rounded-3xl gap-6 h-[75vh] flex">
  <div class="relative h-full w-[65%]">
    <div class="h-full overflow-y-auto scroll">
      <app-car-box></app-car-box>
      <app-car-box></app-car-box>
    </div>
    <div class="absolute bottom-0 w-full">
      <mat-paginator
        [length]="200"
        showFirstLastButtons="true"
        [pageSizeOptions]="[10, 50, 100]"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </div>
  <div class="right-0 w-[30%] rounded-3xl flex flex-col gap-4">
    <app-sort-field></app-sort-field>
    <app-filter-list></app-filter-list>
  </div>
</div>
